img{
  float:right;
  image-resolution: from-image;
  width: 250px;
  height: 250px;
  padding-top: 20px;
  transform: rotate(90deg);
  padding: 0 15px;
  margin: 0 0 10px 0;
  background: #828DAD;
}
.a{
  color:red;
}
.jumbotron{
  color: gray;
  background-color:lightblue;
}
.column {
  color:gray;
  float: left;
  width: 50%;
  padding: 10px;
  column-fill: balance;
}
.card {
  box-shadow: 0 4px
  padding: 16px;
  text-align: center;
  background-color: gray;
}
.container{
  padding-top: 15px;
}
